<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="cnt-ppt">
  <div class="cnt-juego-ppt">
    <div *ngIf="jugadaActiva" class="cnt-resultados-ppt">
        <div class="jugador" [ngClass]="{fondoPiedra: jugadaElegida == 'piedra', fondoPapel: jugadaElegida == 'papel', fondoTijera: jugadaElegida == 'tijera'}"></div>
        <h2 *ngIf="mostrarMensaje">{{mensaje}}</h2>
        <div class="cpu" [ngClass]="{fondoPiedra: jugadaCpu == 'piedra', fondoPapel: jugadaCpu == 'papel', fondoTijera: jugadaCpu == 'tijera'}"></div>
    </div>
    <h2 *ngIf="comenzar && !jugadaActiva">Cual es su jugada</h2>
    <div *ngIf="comenzar && !jugadaActiva" class="cnt-jugadas-ppt">
        <button class="piedra" (click)="jugar('piedra')"></button>
        <button class="papel" (click)="jugar('papel')"></button>
        <button class="tijera" (click)="jugar('tijera')"></button>
    </div>
    <button *ngIf="!comenzar" type="btn btn-outline-primary" (click)="comenzarJuego()">Comenzar</button>
  </div>
</div>
<div class="Exit">
  <button routerLink="/Juegos">Atras</button>
</div>