<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="background">
  <img src="../../../assets/imagenes/SegaBackground.jpg">
</div>
<div class="tablonInicio">
  <div class="row">
    <div class="col">
      <img class="img1" src="../../../assets/imagenes/Ahorcado.jpg" width="252" height="230" routerLink="/Juegos/Ahorcado">
      <h4>Ahorcado</h4>
    </div>
    <div class="col">
      <img class="img2" src="../../../assets/imagenes/TaTeTi.jpg" width="250" height="230" routerLink="/Juegos/Tateti">
      <h4>TaTeTi</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img3" src="../../../assets/imagenes/Memotest.jpg" width="250" height="230" routerLink="/Juegos/Memotest">
      <h4>Memotest</h4>
    </div>
    <div class="col">
      <img class="img4" src="../../../assets/imagenes/Ocupa.jpg" width="250" height="230" [routerLink]="['/Juegos/MiJuego']">
      <h4>Okupa</h4>
    </div>
  </div>
</div>
<div class="tittle">
  <h1>Seleccionar juego</h1>
</div>
<div class="clasificaciones">
  <h2 routerLink="/ClaIndi">Clasificaciones Individuales</h2>
</div>
<div class="Exit">
  <h2 routerLink="/Principal">Volver</h2>
</div>