<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="background">
  <img src="../../../assets/imagenes/SegaBackground.jpg">
</div>
<div class="tablonInicio">
  <div class="row">
    <div class="col">
      <img class="img1" src="../../../assets/imagenes/velicidadAritmetica.jpg" width="250" height="243" routerLink="/Agilidad">
      <h4>Agilidad Aritmetica</h4>
    </div>
    <div class="col">
      <img class="img2" src="../../../assets/imagenes/PPT.jpg" width="250" height="243" routerLink="/Ppt">
      <h4>PPT</h4>
    </div>
    <div class="col">
      <img class="img3" src="../../../assets/imagenes/Anagrama.png" width="250" height="243" routerLink="/Anagrama">
      <h4>Anagrama</h4>
    </div>
    <div class="col">
      <img class="img4" src="../../../assets/imagenes/adivina.png" width="250" height="243" routerLink="/Adivina">
      <h4>Adivina el numero</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img5" src="../../../assets/imagenes/TaTeTi.jpg" width="250" height="243" routerLink="/Tateti">
      <h4>TaTeTi</h4>
    </div>
    <div class="col">
      <img class="img6" src="../../../assets/imagenes/Memotest.jpg" width="250" height="243" routerLink="/Memotest">
      <h4>Memotest</h4>
    </div>
    <div class="col">
      <img class="img7" src="../../../assets/imagenes/Ocupa.jpg" width="250" height="243" [routerLink]="['/Ocupa']">
      <h4>Ocupa</h4>
    </div>
  </div>
</div>
<div class="tittle">
  <h1>Seleccion de juegos</h1>
</div>
<div class="QuienSoy">
  <h4 routerLink="/QuienSoy">Quien Soy</h4>
</div>
<div class="Exit">
  <h4 routerLink="">Volver</h4>
</div>