<div class="presentacion">
  <h3>Quién Soy?</h3>
  <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>Me llamo Ghio Axel, Soy un estudiante de la carrera de programación de la universidad tecnologica de avellaneda y esta es mi sala de juegos.</h3>
  <h3></h3>
</div>
<div class="mi-Game">
  <h3 class="margin">Mi juego: OKUPA</h3>
  <p>
    * El juego trata de ir haciendo puntos, el ganador tiene que alcanzar mas de 10 puntos,
    los puntos se consiguen juntando dos cartas iguales, dos cartas con mismo palo o dos cartas con el mismo numero.
  </p>
  <p>
    * Cartas iguales(mismo numero y palo) valen 3 puntos.
  </p>
  <p>
    * Cartas con mismo numero valen 2 puntos.
  </p>
  <p>
    * Cartas con mismo palo valen 1 punto.
  </p>
</div>
<div class="Exit">
  <h4 routerLink="/Principal">Volver</h4>
</div>