h1{
    text-align: center;
    margin-top: -42%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 5.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.btn1{
    margin-top: 12%;
    margin-left: 30%;
}.btn2{
    margin-top: 4%;
}.btn3{
    margin-top: 12%;
    margin-left: 20%;
}.btn4{
    margin-top: 12%;
    margin-left: 5%;
}

p{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 5.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.tablonInicio{ 
    align-content: center;
    align-items: center;
    margin-top: -45%;
    margin-left: 12%;
    margin-right: 15%;
}

.row, .col{
    background-color: rgba(0, 0, 125, 0.4);
    width: 1500px;
    height: 300px;
}

.tablonInicio, .row, .col{
    border-style: double;
    border-color: steelblue;
}