h1{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 5.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
h2{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
h3{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 2em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

p{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 3em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.quienSoy{
    padding-left: 90%;
}