<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <ul class="chat">
                        <div *ngFor="let msj of listaMensajes">
                            <div *ngIf="msj.correo === this.email; else elseBlock">
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">{{msj.correo}}</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>{{msj.fecha}}</small>
                                        </div>
                                        <p>
                                            {{msj.mensaje}}
                                        </p>
                                    </div>
                                </li>
                            </div>
                            <ng-template #elseBlock>
                                <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{msj.fecha}}</small>
                                            <strong class="pull-right primary-font">{{msj.correo}}</strong>
                                        </div>
                                        <p>
                                            {{msj.mensaje}}
                                        </p>
                                    </div>
                                </li>
                            </ng-template>
                        </div>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="idEnviarMsj" [(ngModel)]="envMensj" placeholder="ingrese mensaje">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn" (click)="EnviarMensaje(envMensj)">
                                Enviar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Exit">
    <h2 routerLink="/Principal">Volver</h2>
</div>