<div class="chat">
    <table class="table">
        <section class="overlay">
        <tr>
            <div class="Tittle">
                <h1>CHAT INTERACTIVO</h1>
            </div>
        </tr>
        <tr>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div *ngFor="let msj of listaMensajes">
                            <div *ngIf="msj.correo === this.email; else elseBlock">
                                <p>{{msj.correo}}: </p>
                                <p><b>{{msj.mensaje}}</b></p>
                                <p>{{msj.fecha}}</p>
                            </div>
                            <ng-template #elseBlock>
                                <p>{{msj.correo}}</p>
                                <p>{{msj.fecha}}</p>
                                <p><b>{{msj.mensaje}}</b></p>
                            </ng-template>
                        </div>
                        <input class="inputMSJ" id="idEnviarMsj" [(ngModel)]="envMensj" placeholder="ingrese mensaje">
                        <button class="btn btn-primary" (click)="EnviarMensaje(envMensj)">Enviar</button>
                    </div>
                </div>
            </div>
        </tr>
        <tr>
            <div class="Exit">
                <h2 routerLink="/Principal">Volver</h2>
            </div>
        </tr>
        </section>
    </table>
</div>