<div class="lista-Users">
    <table class="table">
        <tr>
            <th><h5>Correo Electronico</h5></th>
            <th><h5>Juego</h5></th>
            <th><h5>Gano</h5></th>
            <th><h5>Perdio</h5></th>
        </tr>
        <tr *ngFor="let item of listAux">
            <td><h5>{{item.correo}}</h5></td>
            <td><h5>{{item.juego}}</h5></td>
            <td><h5>{{item.gano}}</h5></td>
            <td><h5>{{item.perdio}}</h5></td>
        </tr>
    </table>
</div>
<div class="Exit">
    <h4 routerLink="/Juegos">Atras</h4>
</div>