<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="background">
  <img src="../../../assets/imagenes/SegaBackground.jpg">
  <div class="boxLogin">
    <div class="loginUsername">
      <div class="input-group mb-3">
        <input type="text" class="form-control bg-transparent" placeholder="Username" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="usuario"  name="uname" required>
        <div class="input-group-append">
          <span class="input-group-text bg-transparent text-white" id="basic-addon2">@example.com</span>
        </div>
      </div>
    </div>
    <div class="loginPassword">
      <div class="input-group mb-3">
        <input type="password" class="form-control bg-transparent" placeholder="password" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="clave" name="psw" required>
      </div>
    </div>
    <div class="btnLogin">
      <button type="button" class="btn btn-outline-primary" *ngIf="logeando"  (click)="Entrar()">Conectarse</button>
    </div>
    <div class="btnRegister">
      <button type="button" class="btn btn-outline-primary">Registrarse</button>
    </div>
  </div>
</div>