*
{
    padding: 0;
    margin: 0;
    font-family: 'game';
    font-size: 1.2em;
}


.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 65%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

form
{
    width: 100%;
    height: 100%;
}

input[type="text"]
{
    display: block;
    margin: 2% auto;
    text-align: center;
}

button
{
    background: rgb(170, 50, 50);
    border: none;
    width: 20%;
    height: 15%;
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 2%;
}

button:hover
{
    background: black;
    color: ghostwhite;
}

h2
{
    margin-top: 3%;
    font-size: 22px;
}

.mensaje
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20%;
    width: 30%;
    height: 10%;
    background: rgb(204, 40, 40);
    border-radius: 5px;
}


.Exit, button{
    margin-top: 1%;
    margin-left: 1%;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}