<div class="container">
  <div class="mensaje" id="mensajeAritmetica" style="display: none;"></div>
  <form name="juego">
   
      Primer número: <input id="numeroUno" placeholder={{numeroUno}} name="numeroIngresado" type="text" style="width:50%" readonly/>
      
     
      Operador: <input id="operador" placeholder={{operador}} name="numeroIngresado" type="text" style="width:50%" readonly/>
        
      
      Segundo número: <input id="numeroDos"  placeholder="{{numeroDos}}" name="numeroIngresado" type="text" style="width:50%" readonly/>
        
      
      Respuesta: <input id="resultado" [(ngModel)]="this.resultadoIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" style="width:50%"/>
        
     
      <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()">Verificar {{Tiempo}} </button></h2>
      
      <h2 [hidden]="!ocultarVerificar"><button (click)="NuevoJuego()">Nuevo</button></h2>
  </form>
  <p>{{mensaje}}</p>
</div>
<div class="Exit">
  <button routerLink="/Juegos">Atras</button>
</div>