/*$font : 'game';
$fontSize: 2.5em;*/

/*{
    margin: 0;
    padding: 0;
    font-family: /*$font;
}*/

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.containerAnagrama
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 70%;
    background-color: rgba(78, 78, 78,0.7);
}

.containerPalabra
{
    margin-top: 10%;
    margin-bottom: 11%;
    width: 80%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

input[type=text]
{
    width: 100%;
    text-align: center;
    border: none;
    height: 48px;
    /*font-size: $fontSize;*/
    outline: none;
}

h1
{
    position: absolute;
    top: 25%;
    /*font-size: $fontSize;*/
    color: ghostwhite;
}

button{
    position: absolute;
    top: 65%;
    width: 50%;
    height: 10%;
    background: rgb(39, 185, 26);
    border: none;
    font-size: 2em;
    outline: none;
    transition: 0.3s;
    text-align: center;
    color: ghostwhite;
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 2.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

button:hover
{
    background: rgb(26, 104, 19);
    color: black;
}

h2
{
    position: absolute;
    top: 89%;
    /*font-size: /*$fontSize;*/
}

.Exit{
    margin-top: 1%;
    margin-left: 2%;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}