<div class="container">
  <div class="containerAnagrama">
    <h1 class="palabraRandom">{{palabraDelAnagrama}}</h1>
    <input type="text" placeholder="Ingrese la palabra pensada" [(ngModel)]="this.palabraIngresada">
    <h2 id="mensajeAnagrama">{{mensajeAlUser}}</h2>
  </div>
    <button *ngIf="!comenzado" (click)="ComenzarJuego()">COMENZAR</button>
    <button *ngIf="comenzado" (click)="VerificarPalabra()">VERIFICAR</button>
</div>
<div class="Exit">
  <h2 routerLink="/Juegos">Atras</h2>
</div>